<%- include('header')-%>
<link rel="stylesheet" href="./css/about.css">
<section class="section11">
    <h1>About Us</h1>
    <div class="aboutDiv">
        <p class="aboutUs">Mastork Technologies is a smart design and development business that brings together innovative
            thinking and agile software development at one place. We've been creating cutting-edge and
            revolutionary digital platforms for startups and organizations all around the world.
            MASTORK Technologies is a technological endeavour under D Square Ventures. We develop according to
            your amenity for a flawless user experience is something that we cannot compromise. Count on us to
            turn your visions into a reality by expanding your business online.
            From UI/UX Development and Video Editing to Business Automation and Web and App Development,
            we will aid you with anything and everything technical. Meticulous work patterns, detailed product
            discussions and post-development assistance are a few of "how" we function, and all of this is just the
            tip of the services we offer.
            MASTORK Technologies is here to be the stepping stone to your success and help you reach the pedestal
            you always aspired to!</p>
        <h1>Meet Our Team</h1>
        <hr>
        <div class=" photos reveal">
            <div class="photoDiv">
                <img src="images/Deepak Soni1-removebg-preview (1).jpg" class="teamPhoto">
                <h4>Sneha Sah</h4>
                <p>CMO</p>
            </div>
            <div class="photoDiv">
                <img src="images/jatin-removebg-preview (1).jpg" class="teamPhoto">
                <h4>Jatin Khurana</h4>
                <p>CEO</p>
            </div> <div class="photoDiv">
                <img src="images/Sscopyy.jpg" class="teamPhoto">

                <h4>Deepak Soni</h4>
                <p>CSO</p>
            </div> <div class="photoDiv">
                <img src="images/maurice1-removebg-preview.jpg" class="teamPhoto">
                <h4>Maurice Rana</h4>
                <p>CTO</p>
            </div> <div class="photoDiv">
                <img src="images/nipun (2)-removebg-preview.jpg" class="teamPhoto">
                <h4>Nipun Walia</h4>
                <p>COO</p>
            </div>
        </div>
        <div class=" photos1 reveal">
            <div class="photoDiv1">
                <!-- <img src="images/Sscopyy.jpg" class="teamPhoto"> -->
                <img src="images/Deepak Soni1-removebg-preview (1).jpg" class="teamPhoto">
                <h4>Deepak Soni</h4>
                <p>CSO</p>
                
            </div>
            <div class="photoDiv1">
                <img src="images/jatin-removebg-preview (1).jpg" class="teamPhoto">
                <h4>Jatin Khurana</h4>
                <p>CEO</p>
            </div> <div class="photoDiv1">
                <img src="images/Sscopyy.jpg" class="teamPhoto">
                <h4>Sneha Sah</h4>
                <p>CMO</p>

                
            </div> <div class="photoDiv1">
                <img src="images/maurice1-removebg-preview.jpg" class="teamPhoto">
                <h4>Maurice Rana</h4>
                <p>CTO</p>
            </div> <div class="photoDiv1">
                <img src="images/nipun (2)-removebg-preview.jpg" class="teamPhoto">
                <h4>Nipun Walia</h4>
                <p>COO</p>
            </div>
        </div>

        <div class="missionVision reveal">
            <div class="mission">
                <h1>Our Mission </h1>
                <p> To be among top 1000 global information technology companies in next 5 Years bring value in the life of
                    all its stakeholders including customers, employees, partners and world a large .
                    
                    </p>
            </div>
            <div class="mission">
                <h1>Our Vision </h1>
                <p> To enable and empower businesses to express and share about themselves to the world and also do
                    business innovatively, by providing world class designs and product development using latest
                    technological innovations.</p>
            </div>
        </div>

        <h1 class="ourValues reveal">Our Values</h1>
        <hr>

        <div class="row puzzleDiv">
            <div class="col-lg-6">
                <p class="puzzleContent">Mastork Technology, an application development firm, is here to help you realize your dream. We assist
                    businesses with the strategy, design, and implementation of entire tech-based business solutions. We
                    revolutionize the way companies can add value to the lives of their consumers, products, partners, and
                    even staff.
                </p>
            </div>
            <div class="col-lg-6 puzzleText" >
                <img src="images/puzzleImg.PNG" class="puzzle">
                <!-- <p class="puzzleText1">Quality</p>
                <p class="puzzleText2">Integrity</p> 
                <p class="puzzleText3">Trust</p> 
                <p class="puzzleText4">Accountability</p>  -->
            </div>
        </div>
        <div class="likeUs">
        <h1 class="likeUsTxt" style="margin-left: 3.5%;display: inline-block;margin-top: 2%;">Like us ? Avail Our Services Now !  </h1>
        <a href="mailto:mastork.technologies@.gmail.com"><div class="button button-2 button-4 ">Learn More</div></a>
    </div>
    
    </div>
</section>

<%- include('footer')-%>
