<section class="section9">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
           <!-- <img src="images/logo.png" class="footerLogo"> -->
            <h1> MASTORK TECHNOLOGIES</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 footerLinks">
            <div class="row" style="align-items: center;text-align: center;justify-content: center;">
                <div class="col-lg-4 col-md-6 col-xs-6"><a href="about.html">About</a></div>
                <div class="col-lg-4 col-md-6 col-xs-6"><a href="#">Careers</a></div>
                <div class="col-lg-4 col-md-6 col-xs-6"><a href="#">Security</a></div>
                <div class="col-lg-4 col-md-6 col-xs-6"><a href="/home.html">Offers</a></div>
                <div class="col-lg-4 col-md-6 col-xs-6"><a href="/home.html">Report</a></div>
                <div class="col-lg-4 col-md-6 col-xs-6"><a href="/home.html">Terms</a></div>
                <div class="col-lg-6 col-md-6 col-xs-6 footerIcon" > <a href=""><i class="fa-brands fa-instagram connectLogo" ></i></a>                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 footerIcon" > <a href=""><i class="fa-brands fa-linkedin connectLogo"></i></a></div>
            </div>
            </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
           <h5 class="footerHeading">Stay connected</h5>
           <p class="footerItem"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;601, GDITL  Northex Tower,  Netaji Subhash 
               place, Pitam pura, Delhi- 110034</p>
           <p class="footerItem"><i class="fa-solid fa-phone"></i> &nbsp;&nbsp;+91 124 600 0660</p>
           <p class="footerItem"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Support@mastorktechnologies.in</p>
        </div>
    </div>
 </section>
</body>
<script>
    function show(){
        document.getElementById("phnnav").style.display="flex";
    }
    function closes(){
          document.getElementById("phnnav").style.display="none";
    }
</script>
</html>