
    <%- include('header')-%>

    <section id="intro">
        <div style="display: flex; flex-direction: row; justify-content: space-between;" >
            <div class="intro-text">
                <h1>We boost the growth <i class="fa-solid fa-chart-line"></i>&nbsp;</h1>
                 <h1>   of your business!</h1>
                 <br>
                <p >Our team at mastork does not merely work on projects; </p>
                <p>   it goes beyond that. We embrace it as part of ourselves. </p>
            </div>
            <img src="./images/Section1_auto_x2.jpg" width="40%" alt="">
        </div>
    </section>

    <section id="intro-phn" style="display: none;">
        <div style="text-align: center;" >
            <img src="./images/Section1_auto_x2.jpg" width="60%" alt="">
            <div class="intro-text" style="text-align: justify; padding: 4% 14%;">
                <h1>We boost the growth <i class="fa-solid fa-chart-line"></i> of&nbsp;</h1>
                 <h1>your business</h1>
                 <br>
                <p >Our team at mastork does not merely work on projects; </p>
                <p>   it goes beyond that. We embrace it as part of ourselves. </p>
            </div>
        </div>
    </section>

    <section id="solution">
        <h1>Solution for Every Business</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"  data-interval="200">
            <div class="carousel-indicators" > 
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img style="width: 80%;" src="images/carousel1.PNG"  alt="...">
              </div>
              <div class="carousel-item">
                <img style="width: 80%;" src="images/carousel2.PNG"  alt="...">
              </div>
              <div class="carousel-item ">
                <img style="width: 80%;" src="images/carousel1.PNG"  alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <section class="section3 reveal">
        <h1>Our Sevices</h1>
        <p class="section3Para">We strive to provide the best of the rest to our customers
        </p>
        <div class="sec3Div">
            <div class="card myServiceCard" style="width: 18rem;">
                <img class="card-img-top serviceCardImg" src="images/ui.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title myCardTitle"><b>UI/UX Design</b></h5>
                  <p class="card-text myCardText">This involves the design of the entire process of acquiring and integrating the product, including aspects of branding, design, usability and function.</p>
                </div>
              </div>

              <div class="card myServiceCard" style="width: 18rem;">
                <img class="card-img-top serviceCardImg" src="images/web Dev.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title myCardTitle"><b>Web Development</b></h5>
                  <p class="card-text myCardText">Web development refers to the building, creating, and maintaining of websites. It includes aspects like web design,web programming, and database management.  </p>
                </div>
              </div>

              <div class="card myServiceCard" style="width: 18rem;">
                <img class="card-img-top serviceCardImg" src="images/appDev.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title myCardTitle"><b>App Development</b></h5>
                  <p class="card-text myCardText">Mobile app development is the act or process by which a mobile app is developed for phones, such as personal digital assistants, enterprise digital assistants.</p>
                </div>
              </div>

              <div class="card myServiceCard" style="width: 18rem;">
                <img class="card-img-top serviceCardImg" src="images/Maintainance.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title myCardTitle"><b>Maintainance</b></h5>
                  <p class="card-text myCardText">Maintenance and support essentially refer to the entire gamut of procedures followed to ensure a seamless and bug-free working of any application.</p>
                </div>
              </div>

              <div class="card myServiceCard" style="width: 18rem;">
                <img class="card-img-top serviceCardImg" src="images/videoEditing.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title myCardTitle"><b>Video Editing</b></h5>
                  <p class="card-text myCardText">Video editing is the process of editing segments of motion video production footage, special effects and sound recordings in the post-production process.</p>
                </div>
              </div>

              <div class="card myServiceCard" style="width: 18rem;">
                <img class="card-img-top serviceCardImg" src="images/business.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title myCardTitle"><b>Business Automation</b></h5>
                  <p class="card-text myCardText">Business automation is a term for the use of technology applications that perform repetitive tasks, freeing up employees for higher value work. </p>
                </div>
              </div>
        </div>
          <a href="/services"> <div class="button button-2">Learn More</div></a>
          <p class="or">Or</p>
          <a href="#contact" class="sec3link">JUST CONTACT US !</a>
    </section>

    <section class="section4 reveal">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 sec4LeftDiv">
                    <h1>Technologies we use</h1>
                    <p>Our goal is top at the heart of creativity services industry as a digital creator. In has a after comment</p>
                    <a href="/technologies"><div class="button button-3">See All</div></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 sec4RightDiv">
                    <div class="floatingElements">
                        <%- include('float2'); -%>
                    </div>
                </div>
            </div>
    </section>

    <section class="section5 reveal">
        <h1>Why <span style=" font-family: 'Philosopher', sans-serif;">Mastork?</span></h1>
        <p>Mastork Technologies, a top web-based tech business, has a team of acclaimed certified Developers and
          consultants who use a wide range of technologies and industry best standards. We assist you in
          establishing a long-term relationship with your customers. Our diversified staff has worked on desktop, mobile, and online applications using the most recent
          languages and frameworks. We have experience developing for a variety of platforms, including Shopify,
          Magento, WordPress, Drupal, and others. As an application development firm, we are here to help you turn your dream into reality. We assist
          businesses with the strategy, design, and implementation of entire tech-based business solutions. Mastork
          revolutionizes the way companies can add value to the lives of their consumers, products, partners, and
          even staff.<br>    We analyze enormous volumes of data with Hubspot
          marketing tools and data analytics tools like AWS Quicksight and Power BI, and we can create
          applications for Google Cloud, AWS, and Azure.
      </p>
    </section>

    <section class="section6 reveal" id="about">
        <video  controls muted poster="" class="section2Video" autoplay>
        <source src="images/mastorkHype.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </section>

    <section class="section7 reveal">
        <h1><b>What our <span style="color: #9678b6;">Happy Customers</span> Say ?</b></h1>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6  sec5ColDiv">
                <div class="card" >
                    <div class="card-body">
                        <img src="images/Ellipse 134.png" class="ellipse">
                        <img src="images/Akshay.png" class="sec7Img">
                      <p class="card-text sec7CardTxt">Since I’ve joined mastork, my client base has expanded and my presence online makes a difference. </p>
                      <h6 class="card-title  sec7CardTitle"><b>Akshay Gangwani</b></h6>
                      <p class="card-title userTitle">COO-RP Group</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6 sec5ColDiv">
                <div class="card" >
                    <div class="card-body">

                        <img src="images/Ellipse 134.png" class="ellipse">
                        <img src="images/Yashika.png" class="sec7Img">
                      <p class="card-text sec7CardTxt">The big fish of the industry are aware of my presence and take notice of it. </p>
                      <h6 class="card-title sec7CardTitle"><b>Yashika Gupta</b></h6>
                      <p class="card-title userTitle">Founder-DHAURAI CLOCK WORKS</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12 sec5ColDiv">
                <div class="card lastCard" >
                    <div class="card-body">
                        <img src="images/Ellipse 134.png" class="ellipse">
                        <img src="images/kunal.JPG" class="sec7Img">
                      <p class="card-text sec7CardTxt"> They have a kick-ass team that knows they’re brilliant and stand up to it.</p>
                      <h6 class="card-title sec7CardTitle"><b>Kunal Garg</b></h6>
                      <p class="card-title userTitle">Founder- PP Build Technologies</p>
                    </div>
                  </div>
            </div>
        </div>
        <p class="sec7p">Well we hope you would be the next one ! How about we get started now.</p>
      <a href="mailto:mastork.technologies@gmail.com"><div class="button button-3 button04">Talk to Us</div></a>

</section>

<section class="section8 reveal" id="contact">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sec8LeftDiv">
            <h1><b>Let's talk</b>&nbsp;&nbsp;<img src="images/ChatTeardropDots.png" class="chatIcon"> </h1>
            <h5>WE’D LOVE TO HEAR WHAT YOU THINK!</h5>
            <p>At Mastork, we have designers and developers who follow modern trends and updates in the IT industry with a main focus on developing projects with technology and tools that are state-of-the-art. Over the course of the last 2.5 years, our team has received a lot of recognition and work referrals. To us, Discussion and Planning are keys to the development of new ideas and innovative solutions since they are key to the development of our projects.
          </p>
        </div> 
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sec8RightDiv"> 
        <div class="row">
            <div class="col-md-6">
              <div class="form">
                  <input type="text" name="name" autocomplete="off" required />
                  <label for="name" class="label-name">
                      <span class="content-name">Your name</span>
                  </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form">
                  <input type="text" name="name" autocomplete="off" required />
                  <label for="name" class="label-name">
                      <span class="content-name">Your Email</span>
                  </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form">
                  <input type="text" name="name" autocomplete="off" required />
                  <label for="name" class="label-name">
                      <span class="content-name">Subject</span>
                  </label>
              </div>
            </div>
            <div class="col-md-12 givingmargintop">
              <div class="form">
                  <input type="text" name="name" autocomplete="off" required />
                  <label for="name" class="label-name">
                      <span class="content-name">Message</span>
                  </label>
              </div>
            </div>


        </div>
      <a href="/home"><div class="button button-3 button05">Submit</div></a>
      <p class="contactp"><a href="https://web.whatsapp.com/">Or contact us on whatsapp <img src="images/WhatsappLogo.png" class="whatsappimg"></a></p>
         
      
        </div>
    </div>
  </section>
<%- include('footer')-%>
