<%- include('header')-%>

<section class="section10">
    <h1>Our Services</h1>
    <div class="serviceContent">
        <div class="serviceBoxLeft">
        <div class="serviceLeft">
            <h2>UI/UX Design</h2><br>
            <p>User Experience (UX) Development is the procedure of improving the overall experience of the users when they interact with the application or website in order to achieve its objective to provide the maximum customer satisfaction.The User Interface (UI), on the other hand, is the process of improving the presentation and the interactivity of the web or mobile application. It focuses on the app’s look and interacts with the users. </p>

            <img src="images/ui.png" class="serviceImgLeft"></p>
        </div>
    </div>
    <div class="serviceBoxRight reveal ">
        <div class="serviceRight">
            <h2>Web Development</h2><br>
            <p>Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.The part of a website that the user interacts directly is termed as front end. Backend is the server side of a website. It is the part of the website that users cannot see and interact. It is the portion of software that does not come in direct contact with the users. It is used to store and arrange data.
            <img src="images/web Dev.png" class="serviceImgRight">
        </p>
        </div>
    </div>
    <div class="serviceBoxLeft serviceMarginleft reveal">
        <div class="serviceLeft shiftApp">
            <h2>App Development</h2><br>
            <p>Mobile app development is the creation of software intended to run on mobile devices and optimized to take advantage of those products' unique features and hardware.It is the process of creating apps that run on any mobile platform: Android and iOS. With everything you need right at your fingertips, you can track inventory or make instant updates from your phone. 
            <img src="images/appDev.png" class="serviceImgLeft"></p>
        </div>
    </div>
    <div class="serviceBoxRight reveal ">
        <div class="serviceRight">
            <h2>Maintainance</h2><br>
            <p>Software Maintenance is the process of modifying a software product after it has been delivered to the customer. The main purpose of software maintenance is to modify and update software applications after delivery to correct faults and to improve performance. Software Maintenance must be performed in order to:
                Correct faults,
                Improve the design,
                Implement enhancements,
                Interface with other systems. 
            <img src="images/Maintainance.png" class="serviceImgRight">
        </p>
        </div>
    </div>
    <div class="serviceBoxLeft serviceMarginleft reveal videoEditing">
        <div class="serviceLeft">
            <h2>Video Editing</h2><br>
            <p>Video editing is the process of manipulating and rearranging video shots to create a new work. Editing  usually include titling, colour correction, sound mixing, etc. It can be as simple as stitching together different scenes and shots with simple video transitions, and can become as complicated as adding different computer-generated imagery (CGI), audio and tying together different elements. 
            <img src="images/videoEditing.png" class="serviceImgLeft"></p>
        </div>
    </div>
    <div class="serviceBoxRight reveal ">
        <div class="serviceRight">
            <h2>Business Automation</h2><br>
            <p>Business process automation refers to the use of technology to execute recurring tasks or processes in an organization where manual effort can be replaced. It is done to minimize costs, increase efficiency, and streamline processes.It  refers to the use of technology to execute recurring tasks or processes in an organization where manual effort can be replaced. It is done to minimize costs, increase efficiency, and streamline processes
            <img src="images/business.png" class="serviceImgRight" style="height: 70%;width: 95%;top: 36%; border-radius: 10px;
            left: -84%;">
        </p>
        </div>
    </div>
</div>
</section>

<%- include('footer')-%>