<%- include('header')-%>
<link rel="stylesheet" href="./css/about.css">
<section class="techSection1">
    <h1>Technology we use</h1>
    <p>We provide the best services in town. Technologies we use are: </p>
</section>

<section class="techSection2">
    <div class="row">
        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/figma.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>Figma</h3>
            <p class="techSection2Text">Figma is a vector graphics editor and prototyping tool which is primarily web-based, with additional offline features.</p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/adobe-xd 1.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3> Adobe photoshop</h3>
            <p class="techSection2Text">Adobe Photoshop is an image-editing program. It's designed to help you edit images—digital or digitized images, photographs. </p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/adobeIllustrator.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>Adobe Illustrator </h3>
            <p class="techSection2Text">Adobe Illustrator is a professional vector-based design and drawing program. Used as part of a larger design workflow, Illustrator allows for the creation of everything from single design elements to entire compositions </p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/reactnative.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3> React Native</h3>
            <p class="techSection2Text">React Native is an open-source UI software framework created by Meta Platforms, Inc. It is used to develop applications for Android, Android TV, iOS, macOS, tvOS, Web, Windows and UWP. </p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/firebase.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>Firebase </h3>
            <p class="techSection2Text">Firebase is a Google-backed application development software that enables developers to develop iOS, Android and Web apps. Firebase provides tools for tracking analytics, reporting and fixing app crashes </p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/node.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>NodeJs </h3>
            <p class="techSection2Text"> Node. js is primarily used for non-blocking, event-driven servers, due to its single-threaded nature. It's used for traditional web sites and back-end API services, but was designed with real-time, push-based architectures in mind.</p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/nosql.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3> NoSQL</h3>
            <p class="techSection2Text">NoSQL is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data. </p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/reactjs.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>ReactJs </h3>
            <p class="techSection2Text">React. js is an open-source JavaScript library that is used for building user interfaces specifically for single-page applications. </p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/java.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>Java</h3>
            <p class="techSection2Text">One of the most widely used programming languages, Java is used as the server-side language for most back-end development projects, including those involving big data and Android development. </p>
        </div>
        </div>
        </div>

        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/kotlin.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>Kotlin </h3>
            <p class="techSection2Text"> Kotlin can be used for any kind of development, be it server-side, client-side web and Android. With Kotlin/Native currently in the works, support for other platforms such as embedded systems, macOS and iOS is coming. </p>
        </div>
        </div>
        </div>

        
        <div class="col-lg-12 col-xs-12 myTechDiv">
            <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2" style="align-items: center;text-align: center;">
            <img src="images/lswift.png" class="techSection2Img">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <h3>Swift </h3>
            <p class="techSection2Text">SWIFT is a vast messaging network used by banks and other financial institutions to quickly, accurately, and securely send and receive information, such as money transfer instructions. </p>
        </div>
        </div>
        </div>
    </div>
   
</section>


<%- include('footer')-%>